.main-logo-hi {
    height: 500px;
    margin-top: -200px;
    -webkit-text-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.vector-image {
    opacity: 0.3;
}

@media only screen and (max-width: 991px) {
    .main-logo-hi {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-style-11 .image-layer {
        display: block;
        z-index: 0;
    }
    .banner-style-11 {
        background: #fff;
        height: 100vh;
    }
    .main-logo-hi {
        height: auto;
        margin-top: 0;
    }
}


/*Se modificó el font-size, el resto de los valores se copiaron de syle css porque el margin solo no lo tomaba*/

#content_block_28 .content-box .text {
    position: relative;
    display: block;
    font-size: 20px !important;
    margin-bottom: 51px;
}


/*Se modificó el font-size, el resto de los valores se copiaron de syle css porque el margin solo no lo tomaba*/

.sec-title p {
    position: relative;
    display: block;
    font-size: 20px !important;
    line-height: 30px;
    color: #777;
    margin: 0px;
}


/*Se agregó margin a las cards, el resto de los valores se copiaron de syle css porque el margin solo no lo tomaba*/

.organization-section .single-item .inner-box {
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
    margin: 0px 0px 25px 0px;
    padding: 70px 30px 44px 30px;
    border-radius: 20px;
    transition: all 500ms ease;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.image-padding {
    padding: 0px 0px 28px 0px;
}

.alignItems {
    vertical-align: center !important;
}

.inline-block {
    display: inline;
}

.row2 {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px
}

#content_block_30 .content-box {
    position: relative;
    margin-right: 70px;
    padding-top: 0px;
}